<template>
  <div class="product__wrapper pt-10 ">
    <section class="product mb-9" >
      <v-row>
        <v-col sm="12" md="5" >
          <v-img src="../assets/product-img.png" />
        </v-col>
        <v-col sm="12" md="7">
          <div class="product__name">
            <h1>Programming For Everyone X</h1>
          </div>
          <div class="product__price">
            <span class="price">฿3,290.00</span><span class="discount"> ฿990.00</span>
          </div>
          <div class="product__des">
            <p>เพราะพื้นฐานสำคัญที่สุด ทำให้ต่อยอดได้ไม่รู้จบกับสุดยอดเครื่องมือเขียนโปรแกรม
            ที่จะทำให้ทักษะการเขียนโปรแกรมของคุณเหนือกว่าใครตั้งแต่ก้าวแรก</p>
          </div>
          <div class="product__count">
            <v-btn
              fab
              small
              plain
              @click="reduceCount()"
              
            >
              <v-icon dark>
                mdi-minus
              </v-icon>
            </v-btn>
              <span class="px-5"> {{count}} </span> 
            <v-btn
              fab
              small
              plain
              @click="addCount()"
            >
              <v-icon dark>
                mdi-plus
              </v-icon>
            </v-btn>
          </div>
          <div class="product__button">
            <v-btn color="primary"  x-large>หยิบใส่ตระกร้า</v-btn>
          </div>
          <div class="product-type">
            หมวดหมู่: <span class="primary--text">Software Development Academy</span> , <span class="primary--text">คอร์สเรียนออนไลน์</span>
          </div>
        </v-col>
      </v-row>
    </section>
    <section class="showcase-wrapper ">
        <video src="../assets/video.mp4" mute loop autoplay></video>
        <v-row justify="center" align="center" class="text py-10" no-gutter>
            <v-col sm="12" md="6">
              <h2>พื้นฐานการคิดแบบ<span class="primary--text">นักวิทยาการคอมพิวเตอร์</span></h2>
              <h2>Programming For Everyone X</h2>
              <p>เพราะพื้นฐานสำคัญที่สุด ทำให้ต่อยอดได้ไม่รู้จบกับสุดยอดเครื่องมือเขียนโปรแกรม
                  ที่จะทำให้ทักษะการเขียนโปรแกรมของคุณเหนือกว่าใครตั้งแต่ก้าวแรก
              </p>
              <v-btn x-large  elevation="8" color="error" class="white--text">หยิบใส่ตระกร้า</v-btn>
            </v-col>
            <v-col sm="12" md="6" class="preview">
              <v-img class="mx-auto" max-width="320" src="https://www.borntodev.com/wp-content/uploads/2020/01/Creative-Thinking-With-Visual-Sketch-1-1.jpg"></v-img>
            </v-col>
          </v-row>
    </section>
    <!-- certificate -->
    <section class="certificate mt-9">
      <v-row class="certificate__wpb">
        <v-col cols="12" md="4" >
          <h3 class="mx-auto">เรียนจบในระยะเวลา</h3>
          <span>4 สัปดาห์</span>
          <p>เมื่อเข้าเรียน 5 ชั่วโมง / สัปดาห์</p>
        </v-col>
        <v-col cols="12" md="4">
          <h3>เริ่มลงทะเบียน</h3>
          <span>3 มกราคม 2563</span>
          <p>ลงทะเบียนวันนี้เข้าเรียนได้ไม่จำกัดระยะเวลา</p>
        </v-col>
        <v-col cols="12" md="4">
          <h3>ความรู้พื้นฐานที่ต้องมีก่อนเรียน</h3>
          <span>ไม่ต้องมีความรู้พื้นฐาน</span>
          <p>สามารถเข้าเรียนได้เลยโดยไร้กังวล</p>
        </v-col>
      </v-row>
      <v-row class="inner">
        <v-col cols="12"> 
          <h2><strong>ให้การสร้างสรรค์ ผลงานดิจิทัล เป็นเรื่องที่ง่าย</strong> </h2>
          <h2>สนุกที่สุด และ สามารถสร้างผลงานตัวเองได้จริง </h2>
        </v-col>
      </v-row>
      <v-row class="inner" align="center" >
        <v-col sm="12" md="3" >
          <v-img class="mx-auto"   src="../assets/googlesheet.png" max-width="137"/>
        </v-col>
        <v-col sm="12" md="3">
          <v-img class="mx-auto"   src="../assets/scratch.png" max-width="137"/>
        </v-col>
        <v-col cols="12" md="3">
          <v-img class="mx-auto"  src="../assets/microbit.png" max-width="137"/>
        </v-col>
        <v-col sm="12" md="3">
          <v-img  class="mx-auto"  src="../assets/mit.png" max-width="137"/>
        </v-col>
      </v-row>
      <v-row class="inner my-12" >
        <v-col cols="12" >
          <h1>เพราะการเรียนรู้สนุกได้เสมอ</h1>
          <span> หมดยุคการเรียนรู้สุดน่าเบื่อ เพราะนี่คือโลกยุคใหม่แล้ว !
            <br>
            ให้ทุกการเรียนรู้สร้างแรงบันดาลใจให้คุณ
          </span>
        </v-col>
      </v-row>
      <!-- video 2 -->
      <v-row class="video__2">
        <v-col sm="12" md="6" class="pt-16">
          <h1>เริ่มต้นด้วยแนวคิด<span class="primary--text">ไม่ใช่โค้ด</span></h1>
          <p>เปลี่ยนการเรียนรู้ด้วยโค้ดสุดประหลาด ให้เริ่มที่แนวคิดจากสมอง เพราะถ้าหากเข้าใจแนวคิดการพัฒนาโปรแกรม การเขียนโค้ดก็ไม่ใช่เรื่องยาก ดังนั้นในหลักสูตรนี้เราจะมาเริ่มต้นกันด้วยสิ่งที่สามารถเข้าใจได้ง่ายด้วยการเรียนรูปแบบ Block ที่เหมาะสำหรับทุกเพศ ทุกวัยตั้งแต่นักเรียน นักศึกษา พนักงานเอกชน รัฐบาล ไปจนถึงผู้ประกอบกิจการส่วนตัว</p>
        </v-col>
        <v-col sm="12" md="6" class="mx-auto">
          <video src="../assets/video2.mp4" mute autoplay loop></video>
        </v-col>
      </v-row>
      <!-- video 3 -->
      <v-row class="video__2">
        <v-col sm="12" md="6" >
          <video  mute autoplay loop>
            <source src="https://www.borntodev.com/wp-content/uploads/2020/01/Showcase_960x540_506KB.m4v" type="video/mp4">
          </video>
        </v-col>
        <v-col sm="12" md="6" class="pt-16">
          <h1>ปฏิบัติแบบจริง ๆ รูปแบบออนไลน์</h1>
          <h1>กับ<span class="primary--text">โปรเจคกว่า 30 โครงการ</span></h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iure illo exercitationem cumque. Error modi, sint animi pariatur nisi dolore!</p>
        </v-col>
      </v-row>
      <v-row class="video__2">
        <v-col sm="12" md="6" class="pt-16">
          <h1>เพราะเรากล้าการันตีความสามารถของคุณด้วย <span class="primary--text">BorntoDev Certificate</span></h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iure illo exercitationem cumque. Error modi, sint animi pariatur nisi dolore!</p>
        </v-col>
        <v-col sm="12" md="6" >
          <v-img class="mx-auto"  src="../assets/certificate.png"  max-width="300"></v-img>
        </v-col>
      </v-row>
      <v-row class="pt-13 inner mb-6"  >
        <v-col cols="12" md="3">
          <img src="../assets/clock.png" class="mb-6">
          <div class="text">
            <h1>ประหยัดเวลาเรียนรู้กว่าเดิม !</h1>
            <p>ไม่ต้องเดินทาง ไม่ต้องเตรียมตัว
              เรียนรู้ที่ไหนเมื่อไหร่ก็ได้
            </p>
          </div>
        </v-col>
        <v-col cols="12" md="3">
          <img src="../assets/chat-bubble.png"  class="mb-6">
          <div class="text">
            <h1>หมดกังวลทุกข้อสงสัย</h1>
            <p>เรามีทีมงานคุณภาพที่พร้อมตอบทุกคำถาม
              ที่คาใจระหว่างการเรียนรู้
            </p>
          </div>
        </v-col>
        <v-col cols="12" md="3" >
          <img src="../assets/currency.png"  class="mb-6">
          <div class="text">
            <h1>ประหยัดค่าใช้จ่ายกว่า 5 เท่า</h1>
            <p>เมื่อเทียบกับคอร์สเรียนนอกสถานที่
                แถมยังเรียนทบทวนได้ทุกเมื่อ
            </p>
          </div>
        </v-col>
        <v-col cols="12" md="3" >
          <img src="../assets/achievement.png" class="mb-6">
          <div class="text">
            <h1>ไปถึงจุดหมายได้เร็วกว่า !</h1>
            <p>โปรเจคสุดพิเศษที่พร้อมพัฒนา
                กระบวนการคิดจนถึงจินตนาการ   
            </p>
          </div>
        </v-col>
      </v-row>
    </section>
    <section class="review-wrapper">
        <v-row class="review pt-10" no-gutters>
          <v-col cols="12">
            <h1>ผู้เรียนกับเรากว่า</h1>
            <h1>
              <strong>180,000</strong>
            </h1>
            <h1>ที่ไว้วางใจเราเสมอมา</h1>
            <div class="carousel">
              <v-carousel v-model="model"  hide-delimiter-background :show-arrows="false" height="320" class="mx-auto" >
                <v-carousel-item
                  v-for="review in reviews"
                  :key="review.name"
                >
                  <v-sheet
                    height="100%"
                    color="#ff1053"
                  >
                    <v-row
                      class="fill-height"
                      align="center"
                      justify="center"
                    >
                      <v-col class="12">
                        <v-avatar
                            color="grey darken-1"
                            size="49"
                            class="my-4"
                        >
                          <v-icon dark>
                            mdi-account-circle
                          </v-icon>
                        </v-avatar>
                        <p class="text">{{review.text}}</p>
                        <div class="review__name">
                          <span>{{review.name}}</span><br>
                          <span>{{review.des}}</span>
                        </div>
                      </v-col>
                    </v-row>
                  </v-sheet>
                </v-carousel-item>
              </v-carousel>
            </div>
            <p class="primary--text">ยังมีรีวิวจากผู้เรียนจริงอีกเพียบ</p>
          </v-col>
        </v-row>
    </section>
    <section class="lesson" >
      <div class="lesson-intro pb-12">
        <h1>เนื้อหาที่ปูพื้นฐานให้ตั้งแต่เริ่มต้น</h1>
        <h1>ให้คุณได้เข้าใจตั้งแต่กระบวนการคิด จนถึงการปฏิบัติ</h1>
      </div>
      <v-row justify="center">
        <v-col cols="12" md="5" class="px-12">
          <div class="lesson-video">
            <v-img class="mx-auto img" max-width="320" src="https://www.borntodev.com/wp-content/uploads/2020/01/Creative-Thinking-With-Visual-Sketch-1-1.jpg"></v-img>
            <div class="play">
              <v-avatar color="error">
                <v-icon dark>
                  mdi-arrow-right-drop-circle
                </v-icon>
              </v-avatar>
            </div>
          </div>
          <div class="text">
            <h4> ตัวอย่าง : <span class="pink--text">Lecture 1 ทำความรู้จักกับคอมพิวเตอร์</span> </h4>
            <p class="ml-6">คอมพิวเตอร์ไม่ใช่แค่เพียงคอมพิวเตอร์ตั้งโต๊ะที่เราใช้กันทั่วไป แต่คำ ๆ นี้มีความหมายมากกว่านั้น การที่เราต้องการเริ่มต้น “พัฒนาโปรแกรมคอมพิวเตอร์” เราจำเป็ฯที่จะต้องทำความเข้าใจก่อนว่า คอมพิวเตอร์ ไม่ใช่เพียงแค่ คอมพิวเตอร์</p>
          </div>
        </v-col>
        <v-col cols="12" md="5" class="px-12">
          <div class="lesson-video">
            <v-img class="mx-auto img" max-width="320" src="https://www.borntodev.com/wp-content/uploads/2020/01/Creative-Thinking-With-Visual-Sketch-1-1.jpg"></v-img>
            <div class="play">
              <v-avatar color="error">
                <v-icon dark>
                  mdi-arrow-right-drop-circle
                </v-icon>
              </v-avatar>
            </div>
          </div>
          <div class="text">
            <h4> ตัวอย่าง : <span class="pink--text"> Lecture 2 ทำความรู้จักกับคอมพิวเตอร์</span></h4>
            <p class="ml-6">คอมพิวเตอร์ไม่ใช่แค่เพียงคอมพิวเตอร์ตั้งโต๊ะที่เราใช้กันทั่วไป แต่คำ ๆ นี้มีความหมายมากกว่านั้น การที่เราต้องการเริ่มต้น “พัฒนาโปรแกรมคอมพิวเตอร์” เราจำเป็ฯที่จะต้องทำความเข้าใจก่อนว่า คอมพิวเตอร์ ไม่ใช่เพียงแค่ คอมพิวเตอร์</p>
          </div>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="12" md="5" class="px-12">
          <div class="lesson__toppic">
            <h3>Section 1 ยินดีต้อนรับเข้าสู่โลกแห่งการพัฒนาโปรแกรม</h3>
            <ul>
              <li>Lecture 0 โลกทั้งใบที่เต็มไปด้วยคอมพิวเตอร์</li>
              <li>Lecture 1 ทำความรู้จักกับระบบการทำงานภายในโปรแกรมคอมพิวเตอร์</li>
              <li>Lecture 2 รู้จักกับคำว่า Algorithm</li>
              <li>Lecture 3 ส่วนประกอบของการทำงานภายในโปรแกรมคอมพิวเตอร์</li>
              <li>Lecture 4 ทำความรู้จักกับ Software Development Life Cycle</li>
              <li>Lecture 5 เรียนรู้หลักการคิดเพื่อสู่เป้าหมายของเรา</li>
            </ul>
          </div>
          <div class="lesson__toppic">
            <h3>Section 2 ยินดีต้อนรับเข้าสู่โลกแห่งการพัฒนาโปรแกรม</h3>
            <ul>
              <li>Lecture 6 รู้จักกับ Google Sheet ที่ช่วยให้งานง่ายขึ้น</li>
              <li>Lecture 7 ทำความรู้จักกับระบบการทำงานภายในโปรแกรมคอมพิวเตอร์</li>
              <li>Lecture 8 รู้จักกับคำว่า Algorithm</li>
              <li>Lecture 9 ส่วนประกอบของการทำงานภายในโปรแกรมคอมพิวเตอร์</li>
              <li>Lecture 10 ทำความรู้จักกับ Software Development Life Cycle</li>
              <li>Lecture 11 เรียนรู้หลักการคิดเพื่อสู่เป้าหมายของเรา</li>
              <li>Lecture 12 โปรแกรมสำหรับหารค่าอาหารตูมเดียวจบ V1</li>
              <li>Lecture 13 โปรแกรม + – * / แบบง่าย ๆ ในทีเดียว</li>
              <li>Lecture 14 โปรแกรมสำหรับร้านค้าขนาดเล็ก V1</li>
              <li>Lecture 15 การกำหนดเงื่อนไขใน Google Sheet</li>
              <li>Lecture 16 ทำโปรแกรมคำนวณเกรดแบบง่ายด้วย Google Sheet</li>
              <li>Lecture 17 สรุปความเข้าใจเบื้องต้นกับการใช้ IF</li>
            </ul>
          </div>
          <div class="lesson__toppic">
            <h3>Section 3 รู้จักกับการทำงานขั้นสูงด้วย Google Sheet</h3>
            <ul>
              <li>Lecture 18 รู้จักกับ Pivot Table ว่ามันคืออะไรกันนะ ?</li>
              <li>Lecture 19 ทดลองใช้ Pivot Table อย่างง่าย</li>
              <li>Lecture 20 รู้จักกับ Chart ใน Google Sheet</li>
              <li>Lecture 21 โปรแกรมสำหรับหารค่าอาหารตูมเดียวจบ V2</li>
              <li>Lecture 22 ทบทวนทักษะ Google Sheet กับการพัฒนาโปรแกรม</li>
            </ul>
          </div>
          <div class="lesson__toppic">
            <h3>Section 4 รู้จักกับ Scratch</h3>
            <ul >
              <li>Lecture 23 ทำความรู้จักกับโปรแกรม Scratch</li>
              <li>Lecture 24 โครงสร้างหน้าจอ Scratch</li>
              <li>Lecture 25 สร้างโปรแกรม Hello World ไปพร้อมกัน</li>
              <li>Lecture 26 รู้จักกับเหตุการณ์ในรูปแบบ Event Driven Programming</li>
              <li>Lecture 27 เรียนรู้ Concept การทำงานของโปรแกรมกับ Scratch</li>
              <li>Lecture 28 พัฒนาโปรแกรมแค่แสดงข้อความก็มาเป็นนิยายได้</li>
              <li>Lecture 29 รู้จักกับตัวดำเนินการใน Scratch</li>
              <li>Lecture 30 พัฒนาโปรแกรมทายเลขท้าย 2 ตัวบน Scratch</li>
            </ul>
          </div>
          <div class="lesson__toppic">
            <h3>Section 5 พื้นฐานคำสั่งการกำหนดโปรแกรมใน Scratch</h3>
            <ul >
              <li>Lecture 31 รู้จักกับคำว่า ตัวแปร ในการเขียนโปรแกรม</li>
              <li>Lecture 32 สร้างเกมสำหรับเล่าเรื่องราวบน Scratch</li>
              <li>Lecture 33 เพิ่มเสียงเพิ่มความสนุก</li>
              <li>Lecture 34 สร้างโปรแกรมช่วย บวก ลบ คูณ หาร</li>
              <li>Lecture 35 สร้างโปรแกรมสำหรับหารค่ากับข้าว</li>
              <li>Lecture 36 รู้จักกับคำว่าเงื่อนไขในการพัฒนาโปรแกรม</li>
              <li>Lecture 37 พัฒนาโปรแกรมแนะนำเมนูอาหาร</li>
              <li>Lecture 38 พัฒนาโปรแกรมคำนวณเกรด</li>
              <li>Lecture 39 พัฒนาโปรแกรมคำนวณ BMI</li>
              <li>Lecture 40 รู้จักกับการวนซ้ำในระบบคอมพิวเตอร์</li>
              <li>Lecture 41 พัฒนาโปรแกรมกับแอนิเมชัน</li>
              <li>Lecture 42 พัฒนาโปรแกรมตอบคำถามกับการวนซ้ำแบบมีเงื่อนไข</li>
              <li>Lecture 43 ทำโปรแกรมสำหรับ Login วนซ้ำไปตลอดกาล</li>
              <li>Lecture 44 รู้จักกับการสร้างบล็อคของตัวเอง</li>
            </ul>
          </div>
        </v-col>
        <v-col cols="12" md="5" class="px-12">
          <div class="lesson__toppic">
            <h3>Section 6 ยินดีต้อนรับเข้าสู่โลกแห่งการพัฒนาโปรแกรม</h3>
            <ul>
              <li>Lecture 45 โลกทั้งใบที่เต็มไปด้วยคอมพิวเตอร์</li>
              <li>Lecture 46 ทำความรู้จักกับระบบการทำงานภายในโปรแกรมคอมพิวเตอร์</li>
              <li>Lecture 47 รู้จักกับคำว่า Algorithm</li>
              <li>Lecture 48 ส่วนประกอบของการทำงานภายในโปรแกรมคอมพิวเตอร์</li>
              <li>Lecture 49 ทำความรู้จักกับ Software Development Life Cycle</li>
              <li>Lecture 50 เรียนรู้หลักการคิดเพื่อสู่เป้าหมายของเรา</li>
            </ul>
          </div> 
          <div class="lesson__toppic">
            <h3>Section 7 สิ่งประดิษฐ์สุดไฮเทคใน Microbit ด้วยพื้นฐาน Scratch</h3>
            <ul>
              <li>Lecture 51 ทำความรุ้จักกับ Microbit ว่ามันคืออะไร ?</li>
              <li>Lecture 52 คำสั่งพื้นฐานใน Microbit เมื่อเทียบกับ Scratch</li>
              <li>Lecture 53 การแสดงผลออกจอ LCD บน Microbit (ป้ายไฟเกาหลี)</li>
              <li>Lecture 54 ทำโปรแกรมควบคู่กับปุ่มใน Microbit</li>
              <li>Lecture 55 ทำโปรแกรมจับโกหก (แบบโกหก)</li>
              <li>Lecture 56 ทำโปรแกรมทอยลูกเต๋าอย่างง่าย</li>
              <li>Lecture 57 ทำโปรแกรมเป่ายิงฉุบสนุกสุดๆ</li>
              <li>Lecture 58 สร้างอุปกรณ์เล่นเสียงต่อกับหูฟังโคตรเท่ !</li>
              <li>Lecture 59 ให้คุณลองสร้างด้วยตัวเอง 2 !</li>
            </ul>
          </div> 
          <div class="lesson__toppic">
            <h3>Section 8 พัฒนาให้กลายเป็นแอปพลิเคชันบนมือถือ Android กับ App Inventor</h3>
            <ul>
              <li>Lecture 60 รู้จักกับ App Inventor</li>
              <li>Lecture 61 อธิบายส่วนต่าง ๆ บนหน้าจอของ App Inventor</li>
              <li>Lecture 62 เรียนรู้กับการสร้างแอปพลิเคชันแรกของเรา</li>
              <li>Lecture 63 ทบทวนการจัดการเหตุการณ์ Event Driven Programming</li>
              <li>Lecture 64 พัฒนาโปรแกรม Hello ชื่อของเรา</li>
              <li>Lecture 65 พัฒนาโปรแกรมคำนวณ BMI</li>
              <li>Lecture 66 พัฒนาโปรแกรมคำนวณเกรดสุดเจ๋ง</li>
              <li>Lecture 67 พัฒนาโปรแกรมหารค่ากับข้าว</li>
              <li>Lecture 68 เรียนรู้กับฟีเจอร์สุดเจ๋ง TTS</li>
              <li>Lecture 69 นำแอปพลิเคชันของเราออกมาติดตั้งในเครื่อง !</li>
            </ul>
          </div> 
          <div class="lesson__toppic">
            <h3>Section 9 แล้วการเขียนโค้ดจริง ๆ มันเป็นยังไง ? มาดูกัน</h3>
            <ul>
              <li>Lecture 70 แล้วการเขียนโปรแกรมจริง ๆ มันเป็นยังไง ?</li>
              <li>Lecture 71 แนะนำการเขียนโปรแกรมด้วย Python 3 แบบง่ายสุด ๆ</li>
              <li>Lecture 72 การประยุกต์ใช้งานความรู้ทั้งหมดในคอร์สเรียน</li>
              <li>Lecture 73 การนำส่งโปรเจคทั้งหมดในคอร์สเรียนเพื่อรับ Certificate</li>
            </ul>
          </div>
          <div class="lesson__toppic">
            <h3 class="text-left primary--text"> <v-icon color="primary" dense>mdi-account-group</v-icon>คอร์สเรียนนี้เหมาะสำหรับ</h3>
            <ul>
              <li>ผู้ที่ต้องการเรียนพื้นฐานการพัฒนาโปรแกรมอย่างจริงจัง</li>
              <li>ผู้ที่ต้องการเตรียมย้ายสายงานสู่การพัฒนาโปรแกรมและนักวิเคราะห์ข้อมูล</li>
              <li>ผู้ที่ต้องการเริ่มต้นเข้าสู่ด้าน Tech Startup</li>
              <li>นักพัฒนาโปรแกรมที่ต้องการย้ายสายมาพัฒนาโปรแกรมด้วย Python</li>
              <li>นักเรียน / นิสิต / นักศึกษา และ ผู้สนใจที่ต้องการเริ่มพื้นฐานการพัฒนาโปรแกรม</li>
            </ul>
          </div>
          <div class="lesson__toppic">
            <h3 class="text-left primary--text" ><v-icon color="primary">mdi-account-group</v-icon> พื้นฐาน / ความต้องการเบื้องต้น</h3>
            <ul>
              <li>ทักษะคอมพิวเตอร์เบื้องต้น (ใช้งานโปรแกรมพื้นฐาน และ อินเทอร์เน็ต)</li>
              <li>ทักษะคณิตศาสตร์เบื้องต้น (บวก ลบ คูณ หาร – แก้สมการเบื้องต้น)</li>
              <li>Computer หรือ Notebook ที่สามารถใช้งาน Internet ได้ (Windows 7, mac OS 10.9 ขึ้นไป หรือ เทียบเท่า)</li>
              <li>นักพัฒนาโปรแกรมที่ต้องการย้ายสายมาพัฒนาโปรแกรมด้วย Python</li>
              <li>ความใฝ่ฝันในการเริ่มต้นเส้นทางนักพัฒนาโปรแกรม</li>
            </ul>
          </div> 
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12" md="6">
          <img src="../assets/good.png" alt="">
        </v-col>
        <v-col cols="12" md="6" class="text-left">
          <h1>ชำระเงินครั้งเดียว ไม่จำกัดระยะเวลาการเรียน</h1>
          <p>
            ชำระเงินครั้งเดียว ไม่จำกัดระยะเวลาการเรียน
            คุ้มยิ่งกว่าคุ้ม ชำระเงินเพียงครั้งเดียวก็สามารถเข้าเรียนได้ไม่จำกัดระยะเวลา ทบทวนซ้ำได้ ไม่จำเป็นต้องรอเรียนพร้อมกัน แถมยังสามารถทำแบบฝึกหัด
            และส่งโปรเจคให้ตรวจเพื่อรับ Verified Certificate ได้ภายใน 1 ปีอีกด้วย !
          </p>
        </v-col>
      </v-row>
    </section>
    <section class="profile">
      <v-row no-gutters align="center">
        <v-col cols="12" md="6">
          <div  class="profile__img">
            <div class="img"></div>
          </div>
        </v-col>
        <v-col cols="12" md="6" >
          <div class="profile__text">
            <h5 class="primary--text">Chief Executive Officer (CEO)</h5>
          <h2>
            Kittikorn Prasertsak (Prame)
          </h2>
            <p>จากนักศึกษาเกียรตินิยมอันดับ 1 สู่ผู้ก่อตั้ง BorntoDev ที่เล็งเห็นถึงความสำคัญของการพัฒนาเทคโนโลยี โดยเน้นการถ่ายทอดที่เข้าใจง่ายจนมีผู้เรียนมากกว่า 7 หมื่นท่านทั่วประเทศ ด้วยประสบการณ์และความหลงไหลในการพัฒนาโปรแกรมมากกว่า 10 ปี และได้รับ Verified Certificate จาก Massachusetts Institute of Technology (MIT)รวมถึงการเป็นวิทยากรรับเชิญด้านการให้ความรู้เรื่องเทคโนโลยีระดับ นิสิต นักศึกษา นักพัฒนาซอฟต์แวร์ทั่วไป นักเรียน ครูโรงเรียนมัธยมปลาย รวมถึงบุคคลทั่วไปทั้งภาครัฐและเอกชน</p>
          </div>
        </v-col>
      </v-row>
    </section>
    <section class="trial">
      <v-row align="center" no-gutters>
        <v-col cols="8" class="mx-auto">
          <p>เริ่มต้นจุดประกายความคิดสร้างสรรค์ สร้างผลงานไปพร้อมกันกับผู้เรียนกว่า 1 แสนคนได้เลย</p>
          <v-btn dark x-large>
            ทดลองเรียนฟรี
          </v-btn>
        </v-col>
      </v-row>
    </section>
    <!-- recoomend -->
    <section class="recommend">
      <h2 class="mb-8">สินค้าที่เกี่ยวข้อง</h2>
      <v-row  >
        <v-col cols="6" md="3">
          <v-card class="recommend__product">
            <v-img
              src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
              height="200px"></v-img>
              <v-card-title> <p></p> Creative Thinking With Visual Sketch</v-card-title>
              <v-card-text>
                <div class="price">
                  <span class="n">฿2,590</span><span class="d">฿790</span>
                </div>
                <div class="hide">
                  <span>฿790</span><span>หยิบใส่ตระกร้า</span>
                </div>
              </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="6" md="3">
          <v-hover>
            <v-card class="recommend__product">
            <v-img
              src="https://www.borntodev.com/wp-content/uploads/2020/01/sqr_creative-thinking-375x400.png"
              height="200px"></v-img>
              <v-card-title>
                <p>Creative Thinking With Visual Sketch</p>
              </v-card-title>
              <v-card-text>
                <div class="price">
                  <span class="n">฿2,590</span><span class="d">฿790</span>
                </div>
                <div class="hide">
                  <span>฿790</span><span>หยิบใส่ตระกร้า</span>
                </div>
              </v-card-text>
          </v-card>
          </v-hover>
        </v-col>
        <v-col cols="6" md="3">
          <v-card class="recommend__product">
            <v-img
              src="https://www.borntodev.com/wp-content/uploads/2019/08/sqr_ultimate-android-1-375x400.png"
              height="200px" />
              <v-card-title><p>Creative Thinking With Visual Sketch</p></v-card-title>
              <v-card-text>
                <div class="price">
                  <span class="n">฿2,590</span><span class="d">฿790</span>
                </div>
                <div class="hide">
                  <span>฿790</span><span>หยิบใส่ตระกร้า</span>
                </div>
              </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="6" md="3">
          <v-card class="recommend__product">
            <v-img src="https://www.borntodev.com/wp-content/uploads/2018/03/sqr_math-375x400.png" height="200px" />
              <v-card-title> <p>  Creative Thinking With Visual Sketch</p></v-card-title>
              <v-card-text>
                <div class="price">
                  <span class="n">฿2,590</span><span class="d">฿790</span>
                </div>
                <div class="hide">
                  <span>฿790</span><span>หยิบใส่ตระกร้า</span>
                </div>
              </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </section>
    <section class="footer">
      <v-row >
        <v-col sm="6" md="3">
          <v-img max-height="300" src="../assets/follow.jpg"></v-img>
        </v-col>
        <v-col sm="6" md="3">
          <div class="support">
            <p>เลือกเรียนรู้</p>
            <ul>
              <li><v-icon>mdi-star</v-icon> คอร์สเรัยนพรีเมี่ยมออนไลน์</li>
              <li><v-icon>mdi-youtube</v-icon> ความรู้ฟรีที่ Youtube</li>
              <li><v-icon>mdi-office-building-outline</v-icon> หลักสูตรสำหรับองค์กร</li>
            </ul>
          </div>
          <div class="support mt-10">
            <p>สนับสนุนพวกเรา</p>
            <ul>
              <li><v-icon>mdi-alpha-a-box</v-icon> ติดต่อลงโฆษณา</li>
              <li><v-icon>mdi-handshake</v-icon> เป็น Partner กับเรา</li>
            </ul>
          </div>
        </v-col>
        <v-col sm="6" md="3">
          <div class="support">
            <p>สำหรับภาคการศึกษา</p>
            <ul>
              <li><v-icon>mdi-school</v-icon> คอร์สเรียนในราคาพิเศษ</li>
            </ul>
          </div>
          <div class="support mt-10">
            <p>ศูนย์ให้ความช่วยเหลือ</p>
            <ul>
              <li><v-icon>mdi-help-circle-outline</v-icon> คำถามที่พบบ่อย</li>
              <li><v-icon>mdi-account-outline</v-icon> นโยบายความเป็นส่วนตัว</li>
              <li><v-icon>mdi-heart-outline</v-icon> นโยบายการคืนเงิน</li>
            </ul>
          </div>
        </v-col>
        <v-col sm="6" md="3">
          <div class="support">
            <p>เกี่ยวกับ BorntoDev</p>
            <ul>
              <li><v-icon>mdi-card-account-details-outline</v-icon> borntoDev คืออะไร ?</li>
              <li><v-icon>mdi-chess-rook</v-icon> ร่วมสอนกับเรา</li>
            </ul>
          </div>
          <div class="support mt-10">
            <p>ได้รับการรับรองจาก</p>
            <v-img max-width="127" min-height="50" src="../assets/bns.gif"></v-img>
          </div>
        </v-col>
      </v-row>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: 1,
      model: 0,
      reviews: [
        {
          name: 'นาย A B', des: 'นักศึกษาปริญญาโท จุฬาลงกรณ์มหาวิทยาลัย', text: 'ชอบ Session การสอนมาก เป็นประโยชน์ นำไปปรับใช้ได้ ไม่ยากอย่างที่คิด กำลังจะเริ่มลองเรียนต่อสายนี้เลยค่ะ'
        }, 
        {
          name: 'นาย C D', des: 'นักศึกษาปริญญาโท จุฬาลงกรณ์มหาวิทยาลัย', text: 'ชอบ Session การสอนมาก เป็นประโยชน์ นำไปปรับใช้ได้ ไม่ยากอย่างที่คิด กำลังจะเริ่มลองเรียนต่อสายนี้เลยค่ะ'
        }
      ],
    }
  },
  methods: {
    addCount() {
      this.count ++
    },
    reduceCount() {
      if (this.count > 0) {
        this.count--
      }
    }
  },

}
</script>

<style lang="scss" scoped>
  .product__wrapper {
    padding: 0;
    background: #f9f9f9;
    section {
      width: 80%;
      margin: 0 auto;
    }
    .product {
      &__name {
        h1 {
          line-height: 62px;
          font-size: 48px;
          font-weight: 300;
        }
      }
      &__price {
        margin-top: 1rem;
        padding-bottom: 1rem;
        .price {
          font-weight: 300;
          font-size: 20px;
          opacity: 0.5;
          text-decoration: line-through;
        }
        .discount {
          font-size: 30px;
          font-weight: 600;
        }
      }
      &__count {
        margin: 20px 0;
        font-size: 1.2rem;
        font-weight: 600;
      }
      &__button{
        margin: 3em 0;
        transition: 0.4s;
        color: white;
      }
      &__button:hover {
        transform: translateY(-5px);
        button {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
    .showcase-wrapper {
      position: relative;
      width: 100%;
      height: auto;
      .text {
        width: 85%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        color: white;
        line-height: 2;
        button {
          transition: .5s;
        }
        button:hover {
          transform: translatex(-10);
        }
      }
      video {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        z-index: 1;
      }
      .overlay {
      }
      
  
      
    }
    .certificate {
      &__wpb {
        h2 {
          font-size: 30px;
        }
        span {
          font-size: 1.8rem;
          font-weight: 600;
        }
      }
    }
    .video__2 {
      h1 {
        font-size: 2.4rem;
        span {
          color: #ffcc00;
        }
      }
      video {
        max-width: 100%;
        font-weight: 300;
      }
    }
    .inner {
      text-align: center;
      img {
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
    .review-wrapper {
      width: 100% !important ;
      text-align: center;
      color: white;
      h1 {
        font-size: 30px;
        strong {
          font-size: 64px;
          opacity: 0.6;
        }
      }
      .review {
        background: #ff1053;
        .carousel {
          max-width: 50vw;
          margin: 0 auto;
          .text {
            font-size: 1.4rem;
          }
          .review__name {
            padding: 10px 0;
            font-weight: bold;
          }
        }
      }
    }
    .lesson {
      padding-top: 5rem;
      margin: 0 auto;
      width: 100% !important ;
      color: white;
      text-align: center;
      background: #111111;
      .text {
        text-align: left;
        font-weight: 300;
      }
      .lesson-video {
        position: relative;
        padding-bottom: 1rem;
        height: auto;
        .img {
          position: relative;
          z-index: 1;
        }
        .play {
          position: absolute;
          left: 45%;
          top: 40%;
          z-index: 3;
          transition: 0.4s;
          cursor: pointer;
        }
        .play:hover {
          transform: scale(1.4);
        }
      }
      &__toppic {
        text-align: center;
        ul {
          padding: 1.2rem 0;
          text-align: left;
          li {
            line-height: 2;
          }
        }
      }
    }
    .profile { 
      width: 100%;
      &__img {
        height: 80vh;
        .img {
          height: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("https://www.borntodev.com/wp-content/uploads/2018/03/imgKP.jpg");
        }
      }
      &__text {
        padding: calc(20% - 20px);
        h2 {
          font-size: 40px;
          font-weight: 300;
        }
        p {
          line-height: 2;
          opacity: 0.7;
        }
      }
    }
    .trial {
      width: 100%;
      background-color: white;
      text-align: center;
      padding: 100px 0;
      p{
        padding-bottom: 2rem;
      }
      button:hover {
        transform: translateY(-5px);
      }
    }
    .recommend {
      padding: 30px 0;
      &__product {
        transition: 0.2s;
        .price {
          
          transition: 0.5s;
          .n {
            opacity: 0.5;
            text-decoration: line-through;
          }
          .d {
            color: black;
          }
        }
        .hide {
          display: none;
          transition: 0.4s;
        }
      }
      &__product:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .price {
          transform: translateY(-5px);
          display: none;
        }
        .hide {
          display: block;
        }
        .hide:hover {
          cursor: pointer;
          color: #ffcc00;
        }
      }
    }
    .footer {
      margin-top: 50px;
      .support {
        ul {
          list-style: none;
          line-height: 2;
        }
      }
    }

  }
</style>