<template>
  <v-app class="overflow-hidden">
      <v-app-bar app hide-on-scroll  color="white"  class="fill-height md-16" height="90" >
        <v-toolbar-items>
          <div class="navbar">
            <div class="title">
              <h1>BornTo<span class="primary--text">Dev</span> </h1>
            </div>
            <div class="menu hidden-sm-and-down" >
              <ul>
                <li><a href="#">หลักสูตรของเรา</a> </li>
                <li><a href="#">สินค้า / บริการของเรา </a></li>
                <li><a href="#">บทความ</a></li>
                <li><a href="#">เกี่ยวกับ</a></li>
                <li><a href="#">เข้าสู่ระบบ</a></li>
                <li>
                  <v-btn color="error">
                    > ระบบเข้าเรียนออนไลน์
                  </v-btn>
                </li>
                <li class="checkout">
                  <v-icon>
                    mdi-shopping-outline
                  </v-icon>
                </li>
              </ul>
            </div>
          </div>
        </v-toolbar-items>
        
        <!-- <v-toolbar-title   ><h1>BornTo<span class="primary--text">Dev</span> </h1></v-toolbar-title>
        <v-spacer />
        <v-toolbar-items class="hidden-sm-and-down py-0">
          <v-menu  open-on-hover bottom offset-y>
            <template v-slot:activator="{ on }">
              <v-btn
                small
                text
                elevation="0"
                v-on="on"
              >
                หลักสูตรของเรา
              </v-btn>
            </template>
          </v-menu>
          <v-menu  open-on-hover bottom offset-y>
            <template v-slot:activator="{ on }">
              <v-btn
                small
                text
                elevation="0"
                v-on="on"
              >
                สินค้าและบริการ
              </v-btn>
            </template>
          </v-menu>
          <v-btn  
            small
            elevation="0"
            text
          >
            บทความ
          </v-btn>
          <v-btn  
            small
            elevation="0"
            text
          >
            เกี่ยวกับเรา
          </v-btn>
          <v-btn  
            small
            elevation="0"
            text
          >
            เข้าสู่ระบบ
          </v-btn>
          <v-btn  
            small
            elevation="0"
            color="error"
          >
            > ระบบเข้าเรียนออนไลน์
          </v-btn>
          <v-badge class="mx-auto"
            overlap
          >
            <v-icon>mdi-shopping-outline</v-icon>
          </v-badge>
        </v-toolbar-items> -->
        <v-menu class="hidden-md-and-up">
          <v-app-bar-nav-icon></v-app-bar-nav-icon>
        </v-menu>
      
      </v-app-bar>
      <!-- <div class="navbar-wrapper">
        
        <div class="navbar-menu">
          <ul>
            <li>หลักสูตรของเรา</li>
            <li>สินค้า/ บริการของเรา</li>
            <li>บทความ</li>
            <li>เกี่ยวกับเรา</li>
            <li>
              <v-icon>
                mdi-log-in-variant
              </v-icon>
              เข้าสู่ระบบ
            </li>
            <li>
              <v-btn color="error">
                >
                ระบบเข้าเรียนออนไลน์
              </v-btn>
            </li>
            <li>
              <v-icon>
                mdi-domain
              </v-icon>
            </li>
          </ul>
        </div>
      </div> -->
    <v-main>
      <Container />
    </v-main>
  </v-app>
</template>

<script>
import Container from './components/container'



export default {
  name: 'App',
  components: {
    Container,
  },

  data: () => ({
    cart: []
  }),
};
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');
  * {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
  }
  .v-toolbar__items { 
    width: 100%;
  }
  .navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      transition: .5s;
      li {
        display: inline;
        padding-left: 1rem;
        .v-btn:hover:before {
          background: white;
        }
        .v-btn:focus:before {
          background: white;
        }
        a {
          color: #000;
          text-decoration: none;
          letter-spacing: 0.05em;
          font-weight: 300;
          display: inline-block;
          position: relative;
        }
        a:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background:#FFC40B;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        a:hover:after { 
          width: 100%; 
          left: 0; 
        }
        
      
      }
      .checkout {
        color: #FFC40B;
      }
    }
  }
</style>